.player-stats-page {
  margin: 20px;

  & .game {
    margin-bottom: 20px;
  }

  & .hand,
  & .players {
    display: flex;
  }

  & .score,
  & .player {
    width: 100px;
  }

  & .row {
    display: flex;
    align-items: center;

    & .th-card {
      width: 50px;
    }

    & .abs {
      width: 60px;
    }

    & .pct {
      width: 100px;
    }
  }
}
